<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
        <h1>Blog Aggregator Administration</h1>
        <span flex></span>
        <md-button class="md-raised md-accent">
            <a ui-sref="app.posts">Home</a>
        </md-button>
    </div>
</md-toolbar>

<md-content class="md-padding">
    <md-tabs md-border-bottom>
        <md-tab ng-repeat="tab in tabs"
                label="{{tab.heading}}"
                data-ui-sref="{{tab.state}}"
                md-active="$state.is(tab.state)">
        </md-tab>
    </md-tabs>
</md-content>

<div ui-view></div>
