<md-content class="md-padding">
    <div ng-class="{hide: !loading}">
        <!-- loading mask -->
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <span class="md-primary" id="loading-text">Loading users...</span>
    </div>
    <div ng-class="{hide: loading}">
        <div ng-hide="users.length">
            There are no users to display
        </div>
        <div ng-show="users.length">
            <table id="table" class="md-table md-colresize">
                <thead>
                    <tr class="md-table-headers-row">
                        <th class="md-table-header">Username</th>                       
                        <th class="md-table-header">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="md-table-content-row" ng-repeat="user in users">
                      <td class="md-table-content">{{user.UserName}}</td>
                        <td class="md-table-content">
                            <md-button class="md-raised md-accent" ng-click="authorizeUser(user)" ng-class="{hide: user.Authorized}">
                                Authorize
                            </md-button>
                            <md-button class="md-raised md-warn md-hue-1" ng-click="deauthorizeUser(user)" ng-class="{hide: !user.Authorized}">
                                Deauthorize
                            </md-button>
                            <md-button class="md-raised md-warn md-hue-2" ng-click="deleteUser(user)">
                                Delete
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- end ng-show="users.length" -->
    </div><!-- end ng-class="{hide: loading}"-->
</md-content>

