<div class="spacer5"></div>
<div flex layout="row" layout-align="center center">
    <div class="md-whiteframe-z2">
        <md-content class="md-padding">
            <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
                <h1 class="md-title"> Blog Aggregator Login</h1>
                <div ng-app="directive.g+signin">
                    <google-plus-signin clientid="620597621300-lt136jc3pa1i94v0cbqgtjvpsjda00hd.apps.googleusercontent.com">
                    </google-plus-signin>
                </div>
            </div>
        </md-content>
    </div>
</div>