use AzureStorageEmulatorDb42;
go
  
select * from [Account];
select * from [Blob];
select * from [BlobContainer];
select * from [CommittedBlock];
select * from [CurrentPage];
select * from [DeletedAccount];
select * from [Page];
select * from [QueueContainer]; 
select * from [QueueMessage];
select * from [TableContainer];
select * from [TableRow];