use BlogAggregator_oauth;
GO


DELETE FROM [Posts]
WHERE PostID=119;

DELETE FROM [Posts]
WHERE PostID=120;

DELETE FROM [Posts]
WHERE PostID=125;

DELETE FROM [Posts]
WHERE PostID=126;

SELECT * FROM Blogs;
SELECT * FROM Posts;