<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://blogaggregator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>blogaggregator.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BlogAggregator</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$BlogAggregator</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="BlogAggregator_oauth" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:originstudents.database.windows.net,1433;Initial Catalog=BlogAggregator_oauth;User ID=azure@originstudents;Password=OCA_azur3" Name="Data Source=tcp:originstudents.database.windows.net,1433;Initial Catalog=BlogAggregator_oauth;User Id=azure@originstudents;Password=OCA_azur3" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BlogAggregator.Data.Infrastructure.BlogAggregatorDbContext, BlogAggregator.Data" MigrationConfiguration="BlogAggregator.Data.Migrations.Configuration, BlogAggregator.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsDashboard" Order="2" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=originstorage;AccountKey=OYuvyYwlkjsNfLWyuV2PqNPtTTYFyLwbNr0eOXBDnz82IsV9aPADRsJ2BWzZ/BKA+oX8W2yAc6+cTWSDCgUP9A==;BlobEndpoint=https://originstorage.blob.core.windows.net/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsDashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=originstorage;AccountKey=OYuvyYwlkjsNfLWyuV2PqNPtTTYFyLwbNr0eOXBDnz82IsV9aPADRsJ2BWzZ/BKA+oX8W2yAc6+cTWSDCgUP9A==;BlobEndpoint=https://originstorage.blob.core.windows.net/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="3" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=originstorage;AccountKey=KcffGFoxXGkrwbv7zomlOK81T8h/7+hnhK2HtHEEnYxmXZA87gxZz4uizl9jKInlnYYDeo2GnfCcb489Z59iyw==;BlobEndpoint=https://originstorage.blob.core.windows.net/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=originstorage;AccountKey=KcffGFoxXGkrwbv7zomlOK81T8h/7+hnhK2HtHEEnYxmXZA87gxZz4uizl9jKInlnYYDeo2GnfCcb489Z59iyw==;BlobEndpoint=https://originstorage.blob.core.windows.net/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsDashboard-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlogAggregator_oauth-Web.config Connection String">
      <ParameterValue>Data Source=tcp:originstudents.database.windows.net,1433;Initial Catalog=BlogAggregator_oauth;User Id=azure@originstudents;Password=OCA_azur3</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BlogAggregator_oauth" />
  </ItemGroup>
</Project>