<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiappc17fc6a308404673b96dabcfab653613.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiappc17fc6a308404673b96dabcfab653613.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiAppc17fc6a308404673b96dabcfab653613</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>BlogAggregator.API</AppServiceName>
    <ResourceGroupName>2015fallcohort</ResourceGroupName>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiAppc17fc6a308404673b96dabcfab653613</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BlogAggregator_oauth" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:originstudents.database.windows.net,1433;Initial Catalog=BlogAggregator;User ID=azure@originstudents;Password=OCA_azur3;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:originstudents.database.windows.net,1433;Database=BlogAggregator;User ID=azure@originstudents;Password=OCA_azur3;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BlogAggregator.Data.Infrastructure.BlogAggregatorDbContext, BlogAggregator.Data" MigrationConfiguration="BlogAggregator.Data.Migrations.Configuration, BlogAggregator.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlogAggregator_oauth-Web.config Connection String">
      <ParameterValue>Server=tcp:originstudents.database.windows.net,1433;Database=BlogAggregator;User ID=azure@originstudents;Password=OCA_azur3;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BlogAggregator_oauth" />
  </ItemGroup>
</Project>