<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="WEBJOBS_IDLE_TIMEOUT" value="1800" />
  </appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=originstorage;AccountKey=OYuvyYwlkjsNfLWyuV2PqNPtTTYFyLwbNr0eOXBDnz82IsV9aPADRsJ2BWzZ/BKA+oX8W2yAc6+cTWSDCgUP9A==;BlobEndpoint=https://originstorage.blob.core.windows.net/" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=originstorage;AccountKey=KcffGFoxXGkrwbv7zomlOK81T8h/7+hnhK2HtHEEnYxmXZA87gxZz4uizl9jKInlnYYDeo2GnfCcb489Z59iyw==;BlobEndpoint=https://originstorage.blob.core.windows.net/" />
    <add name="BlogAggregator_oauth" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BlogAggregator_oauth;Integrated Security=yes;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>